<% include ../partials/header %>

<div class="ui text container segment">
  <div class="ui attached segment">
    <h1 class="ui center aligned header">Add New Thing</h1>
    <form action="/mythings" method="post" class="ui big form">
      <div class="two fields">
        <div class="field">
          <label for="name">Name:</label>
          <input type="text" name="name" placeholder="Name" required>
        </div>
        <div class="field">
          <label for="purchaseDate">Purchase Date:</label>
          <input type="text" name="purchaseDate" class="date-picker" placeholder="Date" required>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label for="purchasePrice">Purchase Price:</label>
          <input type="number" name="purchasePrice" placeholder="Purchase Price" step="0.01" min="0" required>
        </div>
        <div class="field">
          <label for="purchaseCurrency">Currency:</label>
          <select name="purchaseCurrency" id="purchaseCurrency" class="ui fluid dropdown">
            <option value="GBP">British Pound £</option>
            <option value="EUR">Euro €</option>
            <option value="USD">US Dollar $</option>
          </select>
        </div>
      </div>
      <div class="ui hidden section divider"></div>
      <button class="ui big primary button" type="submit">Submit</button>
    </form>
  </div>
</div>

<% include ../partials/footer %>
