<% include ../partials/header %>

  <h1>Edit <%= thing.name %></h1>

  <form action="/mythings/<%= thing.id %>/use?_method=PUT" method="post">

    <label for="purchaseDate">I used it on...</label>
    <input type="date" name="thing[useDate]" value:"<%= thing.useDate %>" required>

    <input type="submit">
  </form>

<% include ../partials/footer %>
