    </div> <!-- END container -->
  </main>
  <footer>
    <div class="ui bottom fixed mini menu">
      <div class="ui container">
        <div class="item">
        <p><a href="/">Home</a></p>
        </div>
      </div>
    </div>
  </footer>
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
<script type="text/javascript" src="/js/semantic.min-2.2.13.js"></script>
<script type="text/javascript" src="/js/value-app.js"></script>
</body>
</html>
