    </div> <!-- END container -->
  </main>
  <footer>
    <div class="ui bottom fixed mini menu">
      <div class="ui container">
        <div class="item">
        <p><a href="/">Home</a></p>
        </div>
      </div>
    </div>
  </footer>
<!-- REMOTE SCRIPTS -->
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
<!-- LOCAL SCRIPTS -->
<!-- <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
<script type="text/javascript" src="/js/semantic.min-2.2.13.js"></script> -->
<script type="text/javascript" src="/js/value-app.js"></script>
</body>
</html>
