<div class="footer">
  <div class="container">
    <p><a href="/">Home</a></p>
  </div>
</div>
<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script
  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>
<script
  type="text/javascript"
  src="/js/value-app.js"></script>
</body>
</html>
