<!DOCTYPE html>
<html>
<head>
  <title>Value App</title>
  <link rel="shortcut icon" href="/img/dev-favicon.png">
  <!-- <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/icon.min.css"> -->
  <link rel="stylesheet" href="/css/semantic-2.2.13.css">
  <link rel="stylesheet" href="/css/jquery-ui.css">
  <link rel="stylesheet" href="/css/jquery-ui.theme.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="ui attached stackable menu">
    <div class="ui container">
      <div class="header item">ThingValue</div>
      <a class="item" href="/">Home</a>
      <a class="item" href="#">How It Works</a>
      <div class="right menu">
        <% if (!currentUser) { %>
          <a class="item" href="/register">Sign Up</a>
          <a class="item" href="/login">Log In</a>
        <% } else { %>
          <a class="item" href="/mythings">My Things</a>
          <a class="item" href="#"><i class="user"></i> <%= currentUser.username %></a>
          <a class="item" href="/logout">Log Out</a>
        <% } %>
      </div>
    </div>
  </div>
  <div class="ui container">
    <% if (error && error.length > 0) { %>
      <div class="ui floating negative message" role="alert">
        <i class="close icon"></i>
        <%= error %>
      </div>
    <% } %>
    <% if (success && success.length > 0) { %>
      <div class="ui floating positive message" role="alert">
        <i class="close icon"></i>
        <%= success %>
      </div>
    <% } %>
