<!DOCTYPE html>
<html>
<head>
  <title>valueMax</title>
  <link rel="shortcut icon" href="/img/dev-favicon.png">
  <!-- REMOTE LIBRARIES -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.theme.min.css"> -->
  <!-- LOCAL LIBRARIES -->
  <link rel="stylesheet" href="/css/semantic-2.2.13.css">
  <link rel="stylesheet" href="/css/jquery-ui.css">
  <link rel="stylesheet" href="/css/jquery-ui.theme.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <% if (currentUser) { %>
    <nav>
      <div class="ui attached stackable menu">
        <div class="ui container">
          <a class="header item" href="/"><i class="line chart icon"></i>ValueMax</a>
          <a class="item" href="/">Home</a>
          <div class="right menu">
            <% if (!currentUser) { %>
              <a class="item" href="/register">Sign Up</a>
              <a class="item" href="/login">Log In</a>
            <% } else { %>
              <a class="item" href="/mythings">My Things</a>
              <a class="item" href="/myaccount"><i class="user icon"></i><%= currentUser.username %></a>
              <a class="item" href="/logout">Log Out</a>
            <% } %>
          </div>
        </div>
      </div>
    </nav>
  <% } %>
  <main>
    <div class="ui container">
      <% if (error && error.length > 0) { %>
        <div class="ui floating negative message" role="alert">
          <i class="close icon"></i>
          <%= error %>
        </div>
      <% } %>
      <% if (success && success.length > 0) { %>
        <div class="ui floating positive message" role="alert">
          <i class="close icon"></i>
          <%= success %>
        </div>
      <% } %>
      <% if (!currentUser) { %>
        <h1 class="ui center aligned enormous header"><i class="line chart icon"></i>ValueMax</h1>
        <h2 class="ui center aligned header">Maximize the value of your money!</h2>
        <div class="ui hidden section divider"></div>
      <% } %>
