<% include partials/header %>

<div class="ui hidden section divider"></div>
<div class="ui two column centered grid">
  <div class="column">
    <h1 class="ui center aligned enormous header">Page Not Found!</h1>
  </div>
</div>
<div class="ui two column center aligned grid">
  <div class="column">
    <a href="/" class="ui big primary button">Home</a>
  </div>
</div>

<% include partials/footer %>
