<% include partials/header %>

  <h1>Hello!</h1>
  <a href="/register">Click to sign up</a>
  <a href="/login">Click to log in</a>
  <a href="/logout">Click to log out</a>
  <p><a href="/mythings">View My Things!</a></p>

<% include partials/footer %>
