<% include partials/header %>

<% if (!currentUser) { %>
  <section>
    <div class="ui text container segment">
      <div class="ui attached segment">
        <h1 class="ui center aligned header">Log In</h1>
        <form action="/login" method="post" class="ui big form">
          <div class="two fields">
            <div class="field">
              <label for="username">Username</label>
              <input placeholder="Username" type="text" name="username">
            </div>
            <div class="field">
              <label for="password">Password</label>
              <input placeholder="Password" type="password" name="password">
            </div>
          </div>
          <p><a href="#">Forgot Password?</a></p>
            <div class="ui two bottom attached buttons">
              <button class="ui big primary button" type="submit">Log In</button>
              <a class="ui big button" href="/register" disabled style="pointer-events: none;text-decoration:line-through;">Create An Account</a>
            </div>
        </form>
      </div>
    </div>
  </section>
<% } else { %>
  <h1 class="ui center aligned enormous header"><i class="line chart icon"></i>ValueMax</h1>
  <h2 class="ui center aligned header">Maximize the value of your money!</h2>
  <h3 class="ui center aligned header" style="color:crimson;text-transform: uppercase;">This demo app will close on 28 February 2023. Adding new Things is disabled.<br>Please save your data!</h3>
  <div class="ui hidden section divider"></div>
  <section>
    <div class="ui center aligned basic segment">
      <div class="ui massive buttons">
        <a href="/mythings" class="ui green button">See All My Things</a>
        <div class="or"></div>
        <a href="/mythings/new" class="ui primary button" disabled style="pointer-events: none;text-decoration:line-through;"><i class="plus icon"></i>New Thing</a>
      </div>
    </div>
  </section>
<% } %>
  <div class="ui hidden section divider"></div>
    <h1 class="ui horizontal divider header">How It Works</h1>
  <div class="ui hidden section divider"></div>
  <div class="ui center aligned three column stackable grid">
    <div class="column">
      <div class="ui very padded raised segment">
        <h3>Add A Thing</h3>
        <p>Have you bought something pricy? Add it to your account to make sure you get the most value out of it. Just let us know how much you paid for it.</p>
      </div>
    </div>
    <div class="column">
      <div class="ui very padded raised segment">
        <h3>Tell Us When You Use It</h3>
        <p>We'll keep track of every use to give you the <strong>per-use cost</strong> of your things. You can add or delete uses any time to keep this number up-to-date.</p>
      </div>
    </div>
    <div class="column">
      <div class="ui very padded raised segment">
        <h3>Watch the Value Rise!</h3>
        <p>Your per-use cost goes down and the value goes up with each use. Use this information to help make buying decisions: make sure what you buy is really worth it!</p>
      </div>
    </div>
  </div>

<% include partials/footer %>
