<% include partials/header %>

  <h1>Log In For the Value App!</h1>

  <form action="/login" method="post">
    <label for="email">Email Address:</label>
    <input type="text" name="email" placeholder="Email Address">
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Password">
    <input type="submit">
  </form>

<% include partials/footer %>
