<% include partials/header %>

  <h1>Log In For the Value App!</h1>

  <form action="/login" method="post">
    <label for="email">Username:</label>
    <input type="text" name="username" placeholder="Username">
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Log In!">
  </form>

<% include partials/footer %>
