<% include partials/header %>

  <h1>My Things!</h1>

  <%= things.purchasePrice %>

  <% user.things.forEach(function(thing) { %>
    <li><a href="/mythings/<%= thing._id %>"><%= thing.name %></a></li>
  <% }); %>

  <a href="/mythings/new"><h3>Add A New Thing</h3></a>

<% include partials/footer %>
