<% include partials/header %>

  <h1>My Things!</h1>
  <p>
    <button><a href="/mythings/new">Add A New Thing</a></button>
  </p>

  <% myThings.forEach(function(thing) { %>
    <li><a href="/mythings/<%= thing._id %>"><%= thing.name %></a></li>
  <% }) %>

  <form action="/allthings" method="post">
    <label for="name">Add A New Thing</label>
    <input type="text" name="name" placeholder="Name" required>

    <input type="submit">
  </form>


<% include partials/footer %>
