<% include partials/header %>

  <h1>My Things!</h1>
  <p>
    <button><a href="/mythings/new">Add A New Thing</a></button>
  </p>

  <% myThings.forEach(function(thing) { %>
    <li><a href="/mythings/<%= thing._id %>"><%= thing.name %></a></li>
  <% }) %>

<% include partials/footer %>
