<% include partials/header %>

  <h1>My Things!</h1>

  <% user.things.forEach(function(thing) { %>
    <!-- <li><a href="/mythings/<%= thing._id %>"><%= thing.name %></a></li> -->
    <li>Date: <a href="#"><%= thing %></a></li>
  <% }) %>

  <form action="/allthethings" method="post">
    <label for="name">Add A New Thing</label>
    <input type="text" name="name" placeholder="Name" required>

    <label for="type">Type</label>
    <input type="text" name="type" placeholder="(optional)">

    <input type="submit">
  </form>


<% include partials/footer %>
