<% include partials/header %>

  <h1>Sign Up For the Value App!</h1>

  <form action="/register" method="post">
    <label for="email">Username:</label>
    <input type="text" name="username" placeholder="Username">

    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Password">

    <label for="passwordMatch">Confirm Password:</label>
    <input type="password" name="passwordMatch" placeholder="Once more...">

    <input type="submit">
  </form>

<% include partials/footer %>
