<% include partials/header %>

<div class="ui text container segment">
  <div class="ui attached segment">
    <h1 class="ui center aligned header">Create An Account</h1>
    <form action="/register" method="post" class="ui big form">
      <div class="two fields">
        <div class="field">
          <label for="username">Username</label>
          <input placeholder="Username" type="text" name="username">
        </div>
        <div class="field">
          <label for="defaultCurrency">Default Currency</label>
          <select name="defaultCurrency" class="ui fluid dropdown">
              <option value="GBP">British Pound £</option>
              <option value="EUR">Euro €</option>
              <option value="USD" selected>US Dollar $</option>
          </select>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label for="password">Password</label>
          <input placeholder="Password" type="password" name="password">
        </div>
        <div class="field">
          <label for="passwordMatch">Confirm Password</label>
          <input placeholder="Confirm Password" type="password" name="passwordMatch">
        </div>
      </div>
      <div class="ui bottom attached buttons">
        <button class="ui big primary button" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<% include partials/footer %>
