body {
  background-image: url(/img/ecailles.png);
}

main {
  margin-top: 15px;
  margin-bottom: 50px;
}

.footer {
  background-color: #DDD;
  display: block;
  position: fixed;
  bottom: 0;
  margin: 0px;
  width: 100%;
}

.ui.cards > .card, .ui.card {
  width: 1200px;
}

h1.ui.header.enormous {
  font-size: 5rem;
}
.ui.header > .icon {
  font-size: 1.3em;
}

.ui.basic.button:hover {
  background: none !important;
}
