body {
  background-image: url(/img/ecailles.png);
}

main {
  margin-top: 15px;
  margin-bottom: 50px;
}

.footer {
  background-color: #DDD;
  display: block;
  position: fixed;
  bottom: 0;
  margin: 0px;
  width: 100%;
}

.ui.cards > .card, .ui.card {
  width: 1200px;
}

h1.ui.header.enormous {
  font-size: 5rem;
}
.ui.header > .icon {
  font-size: 1.3em;
}

.ui.basic.button:hover {
  background: none !important;
}

i.icon.trash.outline {
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

.li:hover i.icon.trash.outline {
  width: 28px;
  opacity: 1.0;
  color: red;
  cursor: pointer;
}

.li:hover i.icon.trash.outline:active {
  color: maroon;
  cursor: pointer;
}

@media (max-width: 500px) {
  .ui.buttons {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .ui.buttons .button {
    border-radius: 0.28571429rem;
  }

  .ui.buttons .or {
    visibility: hidden;
    height: 0.5em;
  }

  .ui.section.divider {
    margin: 0;
  }
}
