<% include ../partials/header %>

<div class="ui text container segment">
  <div class="ui attached segment">
    <h1 class="ui center aligned header">My Account</h1>
    <h3 class="ui center aligned header" style="color:crimson;text-transform: uppercase;">This demo app   will close on 28 February 2023.<br>Please save your data!</h3>
    <h3>Username</h3>
    <p><%= currentUser.username %></p>
    <h3>Default Currency</h3>
    <p>
      <% if (currentUser.defaultCurrency === "GBP") { %>
        £ British Pounds
      <% } else if (currentUser.defaultCurrency === "EUR") { %>
        € Euros
      <% } else if (currentUser.defaultCurrency === "USD") { %>
        $ US Dollars
      <% } else { %>
        None Selected
      <% } %>
    </p>
    <h3>Password</h3>
    <p>******</p>
    <div class="ui bottom attached buttons">
      <button class="ui big primary button" id="updateProfileButton">Edit</button>
    </div>
    <!-- MODAL -->
    <div class="ui tiny modal">
      <i class="close icon"></i>
      <div class="header">Edit My Account</div>
      <div class="content">
        <form action="/myaccount?_method=PUT" method="post" class="ui big form">
          <div class="field">
            <label for="username">Change Username</label>
            <input value="<%= currentUser.username %>" type="text" name="user[username]">
          </div>
          <div class="field">
            <label for="defaultCurrency">Default Currency</label>
            <select name="user[defaultCurrency]" class="ui fluid dropdown">
                <% if (currentUser.defaultCurrency === "GBP") { %>
                  <option value="none">None Selected</option>
                  <option value="GBP" selected>British Pound £</option>
                  <option value="EUR">Euro €</option>
                  <option value="USD">US Dollar $</option>
                <% } else if (currentUser.defaultCurrency === "EUR") { %>
                  <option value="none">None Selected</option>
                  <option value="GBP">British Pound £</option>
                  <option value="EUR" selected>Euro €</option>
                  <option value="USD">US Dollar $</option>
                <% } else if (currentUser.defaultCurrency === "USD") { %>
                  <option value="none">None Selected</option>
                  <option value="GBP">British Pound £</option>
                  <option value="EUR">Euro €</option>
                  <option value="USD" selected>US Dollar $</option>
                <% } else { %>
                  <option value="none" selected>None Selected</option>
                  <option value="GBP">British Pound £</option>
                  <option value="EUR">Euro €</option>
                  <option value="USD">US Dollar $</option>
                <% } %>
            </select>
          </div>
          <div class="field">
            <label>Change Password</label>
              <em>Coming Soon</em>
          </div>
          <!-- <div class="two fields">
            <div class="field">
              <label for="password">Change Password</label>
              <input placeholder="Password" type="password" name="password">
            </div>
            <div class="field">
              <label for="passwordMatch">Confirm Password</label>
              <input placeholder="Confirm Password" type="password" name="passwordMatch">
            </div>
          </div> -->
          <div class="ui hidden divider"></div>
          <p>Click <strong>I'm Sure</strong> to confirm. You will be asked to log in with your new username.</p>
      </div>
        <div class="actions">
          <button class="ui positive approve button" type="submit">I'm Sure</button>
          <div class="ui negative cancel button">Cancel</div>
        </div>
      </form>
    </div>
  </div>
</div>


<% include ../partials/footer %>
